/** @format */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

:root {
  --primary: #1fb84e;
  --error: #e7195a;
}
body {
  background-image: url("./images/background.png");
  margin: 0;
  font-family: "Poppins";
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
